<div class="row">
  <div class="col-lg-6">
    <h2>Sign In</h2>
    <form [formGroup]="form" (submit)="onSubmitForm()">
      <mat-form-field>
        <input matInput
               placeholder="Email"
               type="email"
               formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Password"
               formControlName="password">
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="primary">Sign In</button>
    </form>
  </div>
</div>
