<div class="row">
  <div class="offset-lg-3 col-lg-6 mat-elevation-z8 component-container">
    <h2>Change Password</h2>
    <form [formGroup]="form" (submit)="onSubmitForm()">
      <mat-form-field>
        <input matInput
               placeholder="Old Password"
               type="password"
               formControlName="oldPassword">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="New Password"
               type="password"
               formControlName="newPassword">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Repeat New Password"
               formControlName="repeatNewPassword">
      </mat-form-field>
      <button mat-raised-button
              type="submit"
              color="primary">Ok</button>
    </form>
  </div>
</div>
