<mat-icon class="notification-icon"
          *ngIf="closedValue(closed.REJECTED)"
          color="warn">close
</mat-icon>
<mat-icon class="notification-icon"
          *ngIf="closedValue(closed.HIRED)"
          color="primary">done
</mat-icon>
<mat-icon class="notification-icon"
          *ngIf="!closedValue()"
          color="primary">hourglass_empty
</mat-icon>
<div class="label">{{visit.get('general').get('date').value | date}}</div>
<mat-icon class="notification-icon"
          *ngIf="visit.invalid"
          color="warn">warning
</mat-icon>
<button mat-icon-button
        (click)="$event.stopPropagation()"
        color="primary"
        type="button"
        [matMenuTriggerFor]="menu">
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="remove()">Remove</button>
  <div *ngIf="!visit.get('closed').value; else menuButtonsForNotActiveVisit">
    <button mat-menu-item (click)="close(closed.REJECTED)">Close with rejection</button>
    <button mat-menu-item (click)="close(closed.HIRED)">Close with hire</button>
  </div>
  <ng-template #menuButtonsForNotActiveVisit>
    <button mat-menu-item (click)="reopen()">Reopen</button>
  </ng-template>
</mat-menu>
