<mat-toolbar color="primary">
  <div class="container">
    <span class="logo">HRDB</span>
    <button mat-button routerLink="/candidates">Candidates</button>

    <span class="spacer"></span>
    <div *ngIf="isGuest; else blockForLogged">
      <button mat-button routerLink="/sign-in">Sign In</button>
      <button mat-button routerLink="/sign-up">Sign Up</button>
    </div>
    <ng-template #blockForLogged>
      <button mat-button routerLink="/profile-settings">Settings</button>
      <button mat-button (click)="logOut()">Log Out</button>
    </ng-template>
  </div>
</mat-toolbar>
