<mat-tab-group [selectedIndex]="1">
  <mat-tab [disabled]="true">
    <ng-template mat-tab-label>
      <button mat-button color="primary" type="button" (click)="addVisit()" [disabled]="hasActiveVisits()">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
  <mat-tab *ngFor="let visit of visits.controls; let i=index" [formGroup]="visit">
    <ng-template mat-tab-label>
      <app-candidates-visit-tabs-label [visit]="visit"
                                       (removeVisit)="removeVisit(i)"
                                       (reopenVisit)="reopenVisit(i)"
                                       (closeVisit)="closeVisit(i, $event)">
      </app-candidates-visit-tabs-label>
    </ng-template>
    <app-candidates-visit-tabs-general [general]="visit.get('general')"
                                       [origin]="origins"
                                       [positions]="positions"
                                       [agencies]="agencies"
                                       formGroupName="general">
    </app-candidates-visit-tabs-general>
    <app-candidates-visit-tabs-universal-block class="slide-block"
                                               formGroupName="skype"
                                               [blockName]="'Skype interview'"
                                               [formGroup]="visit.get('skype')">
    </app-candidates-visit-tabs-universal-block>
    <app-candidates-visit-tabs-universal-block class="slide-block"
                                               formGroupName="office"
                                               [blockName]="'Office interview'"
                                               [formGroup]="visit.get('office')">
    </app-candidates-visit-tabs-universal-block>
    <app-candidates-visit-tabs-proposal class="slide-block"
                                        formGroupName="proposal"
                                        [proposal]="visit.get('proposal')">
    </app-candidates-visit-tabs-proposal>
  </mat-tab>
</mat-tab-group>
